body {
  padding-top: 60px;
}

.container {
  max-width: 620px;
}

.post-feed {
  list-style: none;
  margin: 0;
  padding: 0;
}

  .post {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: solid 1px #eee;
  }

    .post p {
      margin: 0;
    }

    .post img {
      border: solid 1px #ddd;
      display: inline-block;
      width: 60px;
      height: 60px;
      margin: 0 10px 0 0;
    }

    .post .post-content {
      padding: 0px;
      display: inline-block;
      vertical-align: top;
      width: 300px;
    }

.user-list {
  list-style: none;
  margin: 0;
}

  .user-list .user {
    margin: 10px;
    width: 140px;
    height: 180px;
    display: inline-block;
    text-align: center;
  }

  .user-list .user img {
    width: 80px;
    height: 80px;
  }

  .user-list .user .lead {
    font-size: 18px;
  }

  .user-list .user p {
    margin: 8px 0;
  }

.user-profile {
  text-align: center;
}

  .user-profile .lead {
    margin: 0;
  }

  .user-profile .user-image {
    display: inline-block;
    height: 100px;
  }